/* ..........header styling..... */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px; 
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f9fa;
  height: 40px; 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  display: flex;       
  gap: 5px;           
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 20px 16px;
  transition: transform 0.2s ease;
}

.nav-links a:hover {
  transform: scale(1.2);
}
.nav-links a:active {
  transform: scale(0.98);
}
.nav-links a:last-child {
  position: relative; 
}
.cart-icon {
  width: 25px;  
  height: 25px; 
  vertical-align: middle; 
}
.cart-icon-link {
  position: relative;
  display: flex;
  align-items: center; 
}
.cart-count {
  position: absolute;
  top: 8px;
  right: 7px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}

/* ..........home page styling..... */

.page-title {
  background: linear-gradient(to bottom, #78340340, #f5e3be2d) !important;
  padding: 50px 20px; 
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  position: relative; 
  height: 400px;
  flex-direction: column;
}
.page-title p {
  font-size: 1rem;
  margin: 0; 
}
.page-title h1 {
  margin: 5px 0 0 0;
  font-size: 2rem;           
  color: #333;               
}
.shop-now-box {
  background-color: #7834034d; 
  color: white;
  font-size: 0.8rem; 
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.shop-now-box:hover {
  background-color: #783403ab; 
  transform: scale(1.05); 
}

.shop-now-box:active {
  background-color: #9e4303ab;
  transform: scale(0.95); 
}

.title-images {
  position: absolute;
  right: 0;
  bottom: 0; 
  width: auto; 
  height: 100%; 
  overflow: hidden; 
  z-index: -1;
}
.person-image {
  width: 70%; 
  height: auto; 
  object-fit: cover;
}
.supplement-display {
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 200px; 
  align-items: center;
}
.image-container {
  width: 180px; 
  height: 180px; 
  background-color: #e0e0e0; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
  overflow: hidden; 
}
.supplement-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.supplement-title {
  font-size: 1em;
  margin-top: 10px;
}
.supplement-description {
  font-size: 12px;
  color: grey;
}
.supplement-price {
  font-size: 1em;
  color: rgb(236, 195, 141);
}

.supplements-container {
  width: 75%;                 
  margin: 0 auto;             
  padding: 20px;               
  box-sizing: border-box; 
}

.supplements-list {
  display: grid;              
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;                   
  padding: 0;                
  justify-items: stretch; 
}

.supplement-card-container {
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
}


/* ............Adjust the size of the cart icon............ */
.cart-icon-link {
  position: absolute;
  top: 5px;
  right: 5px;
}

.cart-icon-img {
  width: 40px; 
  height: 40px;
  cursor: pointer;
}

/* ...........search input styling ..........*/
.search-container {
  padding: 20px 0;
  text-align: center;
}

.search-input {
  width: 50%;  
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.search-input::placeholder {
  color: #888;
}

/* ..............added to cart notification .............*/
.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 49, 49, 0.459); 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.notification.show {
  opacity: 1; 
}

/* ............cart items styling ............*/

.cart-container {
  padding: 20px;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 80px;
  height: auto;
  margin-right: 15px;
}
